<div class="container my-5">
    <h1 class="mb-3">Add new product</h1>
    <div class="row">
        <div class="col-3">
            <form #form="ngForm" (ngSubmit)="addProduct()">
                <div class="mb-3">
                  <label for="selectType" class="form-label">Type</label>
                  <select class="form-select form-select-sm" id="selectType" aria-label=".form-select-sm example" (change)="updateTypeSelector($event)"
                  name="type" [(ngModel)] = "addProductRequest.type">
                    <option value="" selected hidden>Select one available type</option>
                    <option *ngFor="let productType of productTypes" [value]="productType.name">
                        {{productType.name}}
                    </option>
                </select>
                </div>
                <div class="mb-3">
                  <label for="inputDescription" class="form-label">Description</label>
                  <input type="text" class="form-control" id="inputDescription" name="description" [(ngModel)] = "addProductRequest.description">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
