<div class="row">
    <div class="col-4">
        <select class="form-select form-select-sm " aria-label=".form-select-sm example" (change)="updateTypeSelector($event)">
            <option value="default">All</option>
            <option *ngFor="let productType of productTypes" [value]="productType.name">
                {{productType.name}}
            </option>
        </select>
    </div>
</div>
<table>
    <thead>
        <th>Id</th>
        <th>Type</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of displayedProducts">
            <td>{{product.id}}</td>
            <td>{{product.type}}</td>
            <td>{{product.description}}</td>
            <td><button type="button" (click)="deleteProduct(product.id)" class="btn-close" aria-label="Close"></button></td>
        </tr>
    </tbody>
</table>