<div class="container my-5">
    <h2>Products</h2>
<div class="row">
    <div class="col-4">
        <select class="form-select form-select-sm " aria-label=".form-select-sm example"
            (change)="updateTypeSelector($event)">
            <option value="default">All</option>
            <option *ngFor="let productType of productTypes" [value]="productType.name">
                {{productType.name}}
            </option>
        </select>
    </div>
</div>
</div>
<div class="container product-container">
    <div class="product" *ngFor="let product of displayedProducts">
        <div class="product-desc">
            <h6>{{product.name}}</h6>
            <div>{{product.description}}</div>
        </div>
        <img class="product-img" src="../../../../assets/{{product.type}}.jpg">
        <div class="product-delete" (click)="confirmation(product.name, product.id)">&#10006;</div>
    </div>
</div>